<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:contenxt="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- 扫描Controller所在的包  -->
	<contenxt:component-scan base-package="com"/>


	<!-- 注解驱动 -->
	<mvc:default-servlet-handler/>  <!-- 可以正确的处理静态资源 -->
	<mvc:annotation-driven></mvc:annotation-driven>	<!-- 可以正确的处理动态资源 -->
	
	
	
	<!-- 视图解析器:简化在Controller类编写的视图路径 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<!-- 后缀 -->
		<property name="suffix" value=".jsp"/>
	</bean>
	
<!-- 	<mvc:view-controller path="/" view-name="admin-login"/> -->


	<mvc:view-controller path="/login.do" view-name="Loginindex"/>
	<mvc:view-controller path="/register.do" view-name="Register"/>
	<mvc:view-controller path="/mlogin.do" view-name="MLoginindex"/>
	<mvc:view-controller path="/pwd.do" view-name="FindPwd"/>




	
	<!-- 上传文件需要的bean -->

<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="defaultEncoding" value="UTF-8"></property>
	<property name="maxUploadSize" value="-1"></property>
</bean>




	<!-- 注册拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- mvc:mapping配置要拦截的资源 -->
			<!-- /*对应一层路径，比如：/aaa -->
			<!-- /**对应多层路径，比如：/aaa/bbb或/aaa/bbb/ccc或/aaa/bbb/ccc/ddd -->
			<mvc:mapping path="/**"/>
			
			<!-- mvc:exclude-mapping配置不拦截的资源 -->
			<mvc:exclude-mapping path="/login.do"/>
			<mvc:exclude-mapping path="/register.do"/>
			<mvc:exclude-mapping path="/mlogin.do"/>
			<mvc:exclude-mapping path="/pwd.do"/>
			<mvc:exclude-mapping path="/login/studentLogin.do"/>
			<mvc:exclude-mapping path="/login/adminLogin.do"/>
			<mvc:exclude-mapping path="/login/studentRegister.do"/>
			<mvc:exclude-mapping path="/login/findPwd.do"/>
			<mvc:exclude-mapping path="/login/updatePwd.do"/>
			<mvc:exclude-mapping path="/to/updatePassword.do"/>
			<!-- 配置拦截器类 -->
			<bean class="com.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	 


</beans>